.container {
    padding-left: 6rem;
    padding-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 100vh;  
    transition: transform 0.3s ease 0s;
    background-color: #3d2a52;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    align-items: top;
    padding-top: 5%;
  }
  .para {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
  }
  
  @media (max-width: 1200px) {
    .container {
     padding: 1rem;
     width: 100%;
     height: 100vh;
    }
  
    .content {
      display: flex;
      flex-direction: column;
    }
  }
  