.container{

    display: flex;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;   
    padding-top: 100px;   
    transition: transform 0.3s ease 0s;
    background-color: #3d2a52;
   
}

.container1{
      display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


.container {
    /* display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 70px;
    width: 100%;
    align-items: center; */
    justify-content: center;
}

.container3 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container3 h2 {
    text-decoration: none;
}

.container3 h3 {
    text-decoration: none;
}

.homeimage{
    width: 100%;
    height: 100%;
}

.home_image5{
    width: 100%;
    height: 100%;
}

.homeimage6 {
    width: 25%;
    color: white;
    margin-top: 20px;
}
.para {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
  }
  
  .parat{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
    margin-top: 20px;
  }


@media (max-width: 1200px) {
    .container{
        padding:1rem;
        /* margin-top: 90px; */
       
    }
   
   .containercontent {
        /* display: flex;
        flex-direction: column; */
    }
     
    .container1 {
        padding: 0;
        display: flex;
        gap: 30px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: left;
    }

    .homeimage {
        width: 100%;
        /* height: 500px; */
    }

    .container{
      /* padding-top: 10rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
      margin-top: -12rem; */
    }
    
    .container3 {
    align-items: left;
    margin-bottom: 2rem;
    }

    .container1a {
        padding: 2rem;
    }

    .button{
        margin-top: 30px;
        font-size: 18px;
    }

  }


  


 


 




