.container{
    padding: 6rem;
    color: black;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;

}

.content{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    width: 100%;
    height: 100%;

}

.container1 {
    background-color: #b370b0;
    border-radius: 20px;
    /* margin-top: 3rem; */
    padding: 6rem;
    width: 100%;
    height: 100%;
}

.container2 {

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 70px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container3 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.homeimage{
    width: 100%;
    height: 60vh;
    border: 1px solid white;
}

.homeimage1 {
    width: 25%;
    margin-top: 20px;
}

.homeimage1:hover {
cursor: pointer;

}

.container1a {
    background-color: #9dd9d2;
    margin-top: -1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem;
    width: 100%;
    padding-top: 7rem;
}

.button{
    padding: 26px;
    text-align: center;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    /* margin-top: 70px; */
    width: 100%;
    opacity: 1;
    cursor: pointer;
    pointer-events: initial;
}

.para {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
  }
  
  .parat{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
    margin-top: 20px;
  }

@media (max-width: 1200px) {
   
   .content {
        display: flex;
        flex-direction: column;
    }
    .container1 {
        padding: 1rem;
    }
     
    .container2 {
        display: flex;
        gap: 10px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        /* border: 1px solid red; */
    }

    .homeimage {
        width: 100%;
        height: 500px;
    }

    .container{
        padding: 2rem 1rem;
        gap: 50px;
    }
    
    .container3 {
    align-items: left;
    }

    .container1a {
        padding: 2rem;
    }

    .button{
        /* margin-top: 40px; */
        /* margin-bottom: 30px; */
        font-size: 16px;
        padding: 20px;
    }

  }

  @media (max-width: 678px) {
   
    .container1 {
        width: 100%;
        /* margin-top: 1rem; */
        /* padding: 2rem; */
    }

    .container2 {
        width: 100%;

    } 
    
   }

  


 


 




