.container{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
    width: 100%;
    background-color: #b370b0;
}

.image {
    width: 100%;
    height: 100%;
}

.span {
    margin-top: -150px;
    padding-top: 150px;
    display: block;
}

.content{
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
}

.button{
    padding: 26px;
    text-align: center;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-top: 70px;
    width: 100%;
    opacity: 1;
    cursor: pointer;
    pointer-events: initial;
}

.container1 {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem;
    padding-top: 6rem;
    margin-top: 60px;
    color: white;
    width: 100%;
    border-radius: 20px;
    background-color: #42273b;
}

.content{
   display: grid;
   width: 100%;
     grid-row-gap: 35px;
}

.content1{
    margin-top: 1rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
}  

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    width: 100%;
    gap: 20px;
   margin-top: 6rem;
   margin-bottom: 6rem;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.teamimage{
    width: 100%;
    /* height: 80%; */
  border: solid 4px black;
  border-radius: 15px;
    margin-bottom: 20px;
}


.content h3 a {
    color: black;
}
  
.para {
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
  }
  
  .parat{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
    margin-top: 20px;
  }
@media (max-width: 1200px) {

    .container{
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        margin-top: -6rem;
    }
   
    .content {
     display: flex;
     flex-direction: column;
     }
      
     .container2 {
         display: flex;
         flex-direction: column;
     }

     .content1{
        display: flex;
    flex-direction: column;
    margin-top: 2rem;
    }  

    .container2{
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 5px;
        flex-direction: column;
    }

    /* .home_image2{
        width: 30%;
        margin-top: 1em;
    }  */

    .container1 {
      padding: 2rem;      
    }
    
    .button {
        margin-top: 30px;
        font-size: 16px;
        padding: 20px;
    }

  
    
}


@media (max-width: 678px) {

.content{
  display: flex;
flex-direction: column;
padding: 0;    
 }

 .home_image2{
    /* width: 50%; */
} 


}

 
  
  

