.container{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    color: black;
    width: 100%;
    background-color: white;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
}

.content1 {
display: flex;
flex-direction: column;
width: 100%;
}

.list {
    font-size: 22px;
    margin-top: 30px;
}

.li {
    padding-left: 1rem;
    margin-left: 1em;
}

.parat1{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 22px;
    margin-top: 40px;
  }
  


@media (max-width: 1200px) {

    .container{
       padding: 1rem;
    }
   
    .content {
       display: flex;
       flex-direction: column;
    }

    .container {
        padding-top: 3rem;
        height: 100%;
        padding-bottom: 3rem;
    }

  .li {
       font-size: 16px;
       margin-left: 1rem;
       padding-left: 0.5rem;
       /* border: 1px solid red; */
    }

    .list {
        font-size: 16px;
    }
    .parat1{
        font-size: 16px;
    }
    
     
}